<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="Test1" parallel="methods">
        <groups>
            <run>
                <include name="Advance"> </include>
            </run>
        </groups>
        <classes>
            <class name="example.student"></class>
        </classes>

    </test>
    <test verbose="2" name="Test2">
        <groups>
            <run>
                <exclude name="Advance"> </exclude>
            </run>
        </groups>
        <classes>
            <class name="example.student"></class>
        </classes>

    </test>
</suite>